
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container">
                    <form role="form" name="form">
                        <div class="form-group">
                            <label> Company Name </label>
                            <input type="text" class="form-control" ng-model="companyName" disabled/>
                            <label> Name of Device </label>
                            <input type="text" class="form-control" ng-model="resources.NameOfDevice" placeholder="Name of Device" />
                            <label> Type of Device </label>
                            <input type="text" class="form-control" placeholder="Type of Device" ng-model="resources.Type"/>
                            <label> Issued To </label>
                            <input type="date"  class="form-control"  ng-model="resources.IssuedTo" />
                            <label> Issued From </label>
                            <input type="date" class="form-control"  ng-model="resources.IssuedFrom" />
                            <br />
                            <button ng-click="add()">Add</button>
                        </div>
                    </form>
                </div>
                <h2 ng-hide="resources.Name"> <b> {{status}} </b></h2>
            </div>
        </div>
    </div>
</div>
