
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container">
                    <form role="form" name="form">
                        <div class="form-group">
                           
                            <label> Company Name </label>
                            <input type="text" class="form-control" ng-model="companyName.CompanyName" disabled/>
                            <label> Name of Device </label>
                            <input type="text" class="form-control" ng-model="resources.NameOfDevice" placeholder="Name of Device" />
                            <label> Type of Device </label>
                            <input type="text" class="form-control" placeholder="Type of Device" ng-model="resources.Type"/>
                            <!--<label> Issued To </label>
                            <input type="date"  class="form-control"  ng-model="resources.IssuedTo" />-->
                            <label> Issued From </label>
                            <!--<div id="datetimepicker2" class="input-append">
                                <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" ng-model="resources.IssuedFrom" />
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                    </i>
                                </span>
                                </div>-->
                                <input type="date" class="form-control" date-picker="DD-MM-YYYY"  ng-model="resources.IssuedFrom" />
                                <!--<label> Employee ID </label>
        <input type="text" class="form-control" placeholder="Employee ID" ng-model="resources.EmployeeID" />-->
                                <label> Serial no. </label>
                                <input type="text" class="form-control" placeholder="Serial no." ng-model="resources.Serial" />
                                <br />
                                <button class="btn btn-info" ng-click="add()"> Add </button>
                            </div>

                        <h2 style="text-align:center"> OR </h2>
                        <label> Upload CSV file : </label>
                        <br />
                        <br />
                        <input type="file" name="file" file-model="csvFile" />
                        <br />
                        <button class="btn btn-info" ng-click="upload()"> Upload </button>
                    </form>
                </div>
                
                <br />
                <div data-ng-hide="status == ''" class="alert alert-danger">
                    {{status}}
                </div>
                
            </div>
        </div>

        <div ng-show="replaceTable" class="alert alert-danger">
            <h3 style="text-align:center"> Resource's already exist </h3>
            <br />
            <table class="table table-bordered">
                <tr>
                    <th width="400">
                        Serial
                    </th>
                    <th width="400">
                        Name Of Device
                    </th>
                    <th width="200">

                    </th>
                    <th width="200">

                    </th>
                </tr>

                <tr ng-repeat="list in replaceList" class="alert">
                    <td>
                        {{list.Serial}}
                    </td>
                    <td>
                        {{list.NameOfDevice}}
                    </td>
                    <td>
                        <button class="close btn btn-line-info" data-dismiss="alert" ng-click="rep(list)"> Replace </button>
                    </td>
                    <td>
                        <button class="close btn btn-line-info" data-dismiss="alert"> Skip </button>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>


<!--<script type="text/javascript">
  $(function() {
    $('#datetimepicker2').datetimepicker({
      language: 'en',
      pick12HourFormat: true
    });
  });
</script>-->
