<div class="page page-dashboard">
    <div class="table">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="100">
                                Index
                            </th>
                            <th width="200">
                                Company Name
                            </th>
                            <th width="200">
                                Owner Name
                            </th>

                            <th width="200">
                                Contact
                            </th>

                            <th width="200">
                                Email
                            </th>
                            <th width="200" s>
                                Address
                            </th>
                            <th>
                                Resource Count
                            </th>
                            <th>
                                No. of Employees
                            </th>
                        </tr>
                        <tbody>
                            <tr>
                                <td> {{$index + 1}} </td>
                                <td> {{companyInfo.CompanyName}} </td>
                                <td> {{companyInfo.OwnerName}} </td>
                                <td> {{companyInfo.Contact}} </td>
                                <td> {{companyInfo.Email}} </td>
                                <td> {{companyInfo.Address}} </td>
                                <td> {{companyInfo.ResourceCount}} </td>
                                <td> {{companyInfo.EmployeeCount}} </td>
                                <td> <button class="btn btn-info" ng-click="editRow(companyInfo)">  Edit   </button></td>
                                <td><button class="btn btn-danger" ng-click="removeRow(companyInfo.CompanyName,companyInfo.OwnerName)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
