
<div class="page page-dashboard">
   
    <div ng-show="ShowTable" class="table">
        <div class="row">
            <div class="col-md-12">

                <div class="container">

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="100">
                                Index
                            </th>
                            <th width="200">
                                Company Name
                            </th>
                            <th width="200">
                                Owner Name
                            </th>

                            <th width="200">
                                Contact
                            </th>

                            <th width="200">
                                Email
                            </th>
                            <th width="200" s>
                                Address
                            </th>
                            <th>
                                Resource Count
                            </th>
                            <th>
                                No. of Employees
                            </th>
                        </tr>
                        <tbody>
                            <tr ng-repeat="company in companyList">
                                <td> {{$index + 1}} </td>
                                <td> {{company.CompanyName}} </td>
                                <td> {{company.OwnerName}} </td>
                                <td> {{company.Contact}} </td>
                                <td> {{company.Email}} </td>
                                <td> {{company.Address}} </td>
                                <td> {{resourceCount}} </td>
                                <td> {{employeeCount}} </td>
                                <td> <button class="btn btn-info" ng-click="editRow(company)">  Edit   </button></td>
                                <td><button class="btn btn-danger" ng-click="removeRow(company.CompanyName,company.OwnerName)">Delete</button></td>

                            </tr>
                        </tbody>
                    </table>
                    <h2 ng-show="hideTable"> <b> {{status}} </b></h2>
                </div>
            </div>
        </div>
    </div>
    </div>
