<header class="top-header clearfix">

    <!-- Logo -->
    <div class="logo">
        <a href="#/">
            <!-- <span class="logo-icon glyphicon glyphicon-fire"></span> -->
            <span>AMS</span>
        </a>
    </div>
    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min
                             class="toggle-min"
                             id="step3"
                             ><i class="fa fa-bars"></i></a>
            </li>
        </ul>
        <center><span class="h1">Asset Management System</span></center>
    </div>
</header>
