
    <div class="page page-dashboard">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="container">
                            <form role="form">
                                <div class="form-group">
                                    <label> Company name</label>
                                    <input type="text" class="form-control" placeholder="Company name" ng-model="CompanyName" />
                                    <label> Admin </label>
                                    <input type="text" class="form-control" placeholder="Admin" ng-model="OwnerName" />

                                    <br />

                                    <input type="button" value="Log In" ng-click="search()" />

                                </div>
                            </form>
                        </div>
                        <h2> <b> {{status}} </b></h2>
                    </div>
                </div>
            </div>
        </div>
        
     </div>

