<div class="navController">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <!--<span>Home</span> </a></li><li><a href="#/home">-->
        <!--<li ng-show="companyLogin"><a href="#/newCompany"><span> Add Company </span> </a></li>-->
        
        <li ng-show="companyLogin"><a href="#/companyDetail"><span> Company Detail</span> </a></li>
        <li ng-show="companyLogin"><a href="#/newEmployee"><span> Add Employee </span></a></li>
        <li ng-show="companyLogin"><a href="#/resourceDetail"> <span>Resource Detail</span></a></li>
        <li ng-show="companyLogin"><a href="#/addResource"><span> Add Resources </span></a></li>
        <!--<li ng-show="companyLogin"><a href="#/employeeDetail"> <span>Employee Detail</span></a></li>-->
        <li ng-show="employeeLogin"><a href="#/profile"><span> Profile </span></a></li>
        <li ng-show="employeeLogin"><a href="#/resourceAllocated"><span> Resource Alloted </span></a></li>
        <li ng-show="employeeLogin"><a href="#/tasks"><span> Tasks </span></a></li>
        <li><a href="#/login" ng-click="logout()"><span> Log out </span></a></li>
    </ul>
</div>