
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container">
                    <form role="form" name="form">
                        <div class="form-group">
                            <label> Company's Name </label>
                            <input type="text" class="form-control" ng-model="company.CompanyName" placeholder="Company name" name="Cname" />
                            <label> Owner's Name  </label>
                            <input type="text" class="form-control" placeholder="Owner name" ng-model="company.OwnerName" name="Oname" />
                            <!--<label> No. of Resources </label>
                            <input type="number" min ="1" class="form-control" placeholder="Resources no." ng-model="company.ResourceCount" name="resources" />-->
                            <label> Address </label>
                            <input type="text" class="form-control" placeholder="Address" ng-model="company.Address" name="address" />
                            <label> Contact No. </label>
                            <input type="text" class="form-control" onkeypress="return event.charCode>=48 && event.charCode<=57" placeholder="Contact no." ng-model="company.Contact" name="contact" />
                            <label> Email </label>
                            <input type="email" class="form-control" placeholder="Email" ng-model="company.Email" name="email" />
                            <label> Prefix </label>
                            <input type="text" class="form-control" placeholder="Prefix" ng-model="company.Prefix" name="prefix" />
                            <br />
                            <button class="btn btn-info" ng-click="submit()">Submit</button>
                        </div>
                    </form>
                </div>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div>
                <!--<h2 ng-hide="company.CompanyName"> <b> {{status}} </b></h2>-->
            </div>
        </div>
    </div>
</div>

