<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container">
                    <form role="form" name="form">
                        <div class="form-group">
                            <label> Employee Name </label>
                            <input type="text" class="form-control" ng-model="employee.EmployeeName" placeholder="Employee Name" />
                        </div>
                        <div class="form-group">
                            <label> Company Name : </label>
                            <label class="text-danger" ng-model="employee.CompanyName">{{employee.CompanyName}}</label>
                        </div>
                        <div class="form-group">
                            <label> Email </label>
                            <input type="text" class="form-control" ng-model="employee.Email" placeholder="Email" />
                        </div>
                        <!--<label> Employee ID  </label>
                        <input type="text" class="form-control" placeholder="Employee ID" ng-model="employee.EmployeeID" />-->
                        <!--<label> No. of Resources </label>
                        <input type="number" min ="1" class="form-control" placeholder="Resources no." ng-model="company.ResourceCount" name="resources" />-->
                        <div class="form-group">
                            <label> Date of Birth </label>
                            <input type="text" class="form-control" placeholder="Date of birth" ng-model="employee.DOB" />
                        </div>
                        <div class="form-group">
                            <label> Address </label>
                            <input type="text" class="form-control" ng-model="employee.Address" placeholder="Address" />
                        </div>
                        <div class="form-group">
                            <label> Contact </label>
                            <input type="text" class="form-control" ng-model="employee.Contact" placeholder="Contact" />
                        </div>
                        <div class="form-group">
                            <label> Department </label>
                            <input type="text" class="form-control" placeholder="Department" ng-model="employee.Department" />
                        </div>
                        <div class="form-group">
                            <label class="ui-radio" ng-repeat="desig in designations">
                                <input ng-checked="desig.Checked" type="radio" ng-model="$parent.Name" class="radio" value="{{desig.Name}}" ng-change="selectDesig(desig)" />
                                <span>{{desig.Name}}</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label> Manager Id </label>
                            <span class="ui-select">
                                <select ng-model="employee.ManagerID">
                                    <option value="">Select Manager</option>
                                    <option ng-repeat="manager in managers" ng-selected="{{employee.ManagerID == manager.EmployeeID}}" value="{{manager.EmployeeID}}">{{manager.EmployeeID}}</option>
                                </select>
                            </span>
                        </div>
                        <button class="btn btn-info" ng-click="submit()">Submit</button>
                    </form>
                    <div data-ng-hide="message == ''" class="alert alert-danger">
                        {{message}}
                    </div>
                    <!--<label> Upload CSV file : </label>
                    <input type="file" name="file" file-model="csvFile" />-->
                    <!--<button class="btn btn-info" ng-click="update()"> Upload </button>-->
                </div>
            </div>
        </div>
    </div>
</div>


