
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container">
                    <form role="form" name="form">
                        <div class="form-group">
                            <label> Employee Name </label>
                            <input type="text" class="form-control" ng-model="employee.EmployeeName" placeholder="Employee Name" />
                            <label> Employee ID  </label>
                            <input type="text" class="form-control" placeholder="Employee ID" ng-model="employee.EmployeeID" />
                            <!--<label> No. of Resources </label>
                            <input type="number" min ="1" class="form-control" placeholder="Resources no." ng-model="company.ResourceCount" name="resources" />-->
                            <label> Company Name </label>
                            <input type="text" class="form-control" ng-model="companyName.CompanyName" disabled />
                            <label> Date of Birth </label>
                            <input type="date" class="form-control" ng-model="employee.DOB" placeholder="Date of Birth" />
                            <label> Department </label>
                            <input type="text" class="form-control" placeholder="Department" ng-model="employee.Department" />
                            <br />
                            <label> Designation </label>
                            <br />
                            <span><input type="radio" ng-click="ifEmployee()" name="des"/> Employee </span>
                            <br />
                            <span><input type="radio" ng-click="ifManager()" name="des"/> Manager </span>
                            <br />
                            <br />
                            <label> Manager ID </label>
                            <input type="text" class="form-control" placeholder="ManagerID" ng-model="employee.ManagerID" />
                            <br />
                            <button class="btn btn-info" ng-click="submit()">Submit</button>
                        </div>
                    </form>

                    <label> Upload CSV file : </label>
                    <input type="file" name="file" file-model="csvFile" />
                    <br />
                    
                    <button class="btn btn-info" ng-click="update()"> Upload </button>
                </div>
                <h2 ng-hide="employee.EmployeeName"> <b> {{status}} </b></h2>
            </div>
        </div>
    </div>
</div>


