    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="panel-box">
                    <h4> <label> Profile Picture :</label> </h4> &nbsp; <img ng-if="info.EmployeeInfo[0].info[1].type == 'image'" ng-src="http://localhost:58474/images/{{employee.EmployeeID}}/{{info.EmployeeInfo[0].info[1].Picture}}" width="250" height="400" />
                </div>
                     <!--<br />
                <h4>  <label> Company Name :  </label> &nbsp; <label style="font:italic"> {{employee.CompanyName}}</label> </h4>-->
              
                <div>
                <h4>  <label> Employee Name :  </label> &nbsp; <label style="font:italic" > {{employee.EmployeeName}}</label></h4>
                <br />
                <h4>  <label> Employee ID :  </label> &nbsp; <label style="font:italic" > {{employee.EmployeeID}}</label></h4>
                <br />
                <h4>  <label> Manager ID :  </label> &nbsp; <label style="font:italic"> {{employee.ManagerID}}</label></h4>
                <br />
                <h4>  <label> Department :   </label> &nbsp;  <label style="font:italic" > {{info.EmployeeInfo[0].info[0].Department}}</label></h4>
                <br />
                <h4> <label> Designation :   </label> &nbsp; <label style="font:italic" > {{employee.Designation}}</label></h4>
                <br />
                <h4> <label> Date of Birth :   </label> &nbsp; <label style="font:italic" > {{info.EmployeeInfo[0].info[0].DOB}}</label></h4>
                <br />
                <h4> <label> Address :   </label> &nbsp; <label style="font:italic" > {{info.EmployeeInfo[0].info[0].Address}}</label></h4>
                <br />
                <h4> <label> Contact :   </label> &nbsp; <label style="font:italic" > {{info.EmployeeInfo[0].info[0].Contact}}</label></h4>
                <br />
                <h4> <label> Email :   </label> &nbsp; <label style="font:italic" > {{employee.Email}}</label></h4>

                </div>
                
                <h4 style="text-align:center"><button class="btn btn-info" ng-hide="HideEdit" ng-click="edit(info.EmployeeInfo[0].info[0].Address,info.EmployeeInfo[0].info[0].Contact,info.EmployeeInfo[0].info[0].DOB,info.EmployeeInfo[0].info[0].Department,employee.Email,employee.EmployeeID,info.EmployeeInfo[0].info[1].Picture)"> Edit </button></h4>
            </div>
        </div>
    </div>

