
    <div class="row">
        <div class="col-md-12">
            <div class="container" ng-repeat="employee in employeeList">
                <h4> <label> Profile Picture :</label> </h4> &nbsp; <img ng-src="{{source}}{{employee.Picture}}" /> 
                <h4>  <label> Company Name :  </label> &nbsp; <label style="font:italic"> {{employee.CompanyName}}</label> </h4>
                <br />
                <h4>  <label> Employee Name :  </label> &nbsp; <label style="font:italic" > {{employee.EmployeeName}}</label></h4>
                <br />
                <h4>  <label> Employee ID :  </label> &nbsp; <label style="font:italic" > {{employee.EmployeeID}}</label></h4>
                <br />
                <h4>  <label> Manager ID :  </label> &nbsp; <label style="font:italic"> {{employee.ManagerID}}</label></h4>
                <br />
                <h4>  <label> Department :   </label> &nbsp;  <label style="font:italic" > {{employee.Department}}</label></h4>
                <br />
                <h4> <label> Designation :   </label> &nbsp; <label style="font:italic" > {{employee.Designation}}</label></h4>
                <br />
                <h4> <label> Date of Birth :   </label> &nbsp; <label style="font:italic" > {{employee.DOB}}</label></h4>
                <br />
                <h4> <label> Address :   </label> &nbsp; <label style="font:italic" > {{employee.Address}}</label></h4>
                <br />
                <h4> <label> Contact :   </label> &nbsp; <label style="font:italic" > {{employee.Contact}}</label></h4>
                <br />
                <h4> <label> Email :   </label> &nbsp; <label style="font:italic" > {{employee.Email}}</label></h4>
                
                <h4 style="text-align:center"><button class="btn btn-info" ng-hide="HideEdit" ng-click="edit(employee.DOB,employee.Address,employee.Contact,employee.Email)"> Edit </button></h4>
            </div>
        </div>
    </div>
</div>
