
    <div class="container">
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="query" placeholder="Search" autofocus /> 
            </div>
        </form>
        </div>
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="100">
                            #
                        </th>
                        <th width="100">
                            Name Of Device
                        </th>
                        <th width="200">
                            Type
                        </th>
                        <!--<th width="200">
                            Issued To
                        </th>-->

                        <th width="200">
                            Issued From
                        </th>

                        <th width="200">
                            Employee ID
                        </th>
                        
                        <th width="200">
                            Serial no.
                        </th>

                        <!--<th width="200">
                            Modified On
                        </th>
                        <th width="200" s>
                            Is Active
                        </th>-->

                    </tr>
                    <tbody>
                        <tr ng-repeat="resource in resourceList | filter:query | orderBy: 'NameOfDevice'">
                            <td> {{$index + 1}}</td>
                            <td> {{resource.NameOfDevice}}</td>
                            <td> {{resource.Type}}</td>
                            <td> {{resource.IssuedFrom}}</td>
                            <td> {{resource.EmployeeID}} </td>
                            <td> {{resource.Serial}} </td>
                            <td>
                                <button class="btn btn-info" ng-click="editRow(resource)">  Edit   </button>
                            </td>
                            <td> <button class="btn btn-info" ng-click="showImage(resource.Serial)"> Show Image </button></td>
                            <td><button class="btn btn-danger" ng-click="remove(resource.CompanyName,resource.NameOfDevice,resource.Type,resource.EmployeeID,resource.Serial)">Delete</</button></td>
                            
                        </tr>
                    </tbody>

                </table>

                
                <h2> <b> {{status}} </b></h2>
            </div>
        </div>
    </div>
</div>
<div ng-show="showI">
    <div class="row">
        <div class="col-md-12">
            <img ng-src="http://localhost:58474/images/{{imageList.Serial}}/{{imageList.Picture}}" />
        </div>
    </div>
</div>

