
    <div class="container">
        <form role="form">
            
                <input class="form-control input-lg input-round text-center"
                       placeholder="Search" ng-model="query" autofocus />
                <!--<input type="search" class="form-control" ng-model="query" placeholder="Search" autofocus />-->

            
        </form>
        </div>
<br />
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <table class="table table-bordered table-hover">
                    <tr style="color:black">
                        <th width="10">

                        </th>
                        <th width="100">
                            #
                        </th>
                        <th width="100">
                            Name Of Device
                        </th>
                        <th width="200">
                            Type
                        </th>
                        <!--<th width="200">
            Issued To
        </th>-->
                        <!--<th width="200">
            Issued From
        </th>-->

                        <th width="200">
                            Employee ID
                        </th>

                        <th width="200">
                            Serial no.
                        </th>


                        <!--<th width="200">
            Modified On
        </th>
        <th width="200" s>
            Is Active
        </th>-->

                    </tr>
                    <tbody>
                        <tr ng-repeat="resource in resourceList | filter:query | orderBy: 'Deleted'">
                            <td ng-if="resource.IsActive == 0" style="color:red"> &times;</td>
                            <td ng-if="resource.IsActive == 1" style="color:lightgreen"> &radic;</td>
                            <td> {{$index + 1}}</td>
                            <td> {{resource.NameOfDevice}}</td>
                            <td> {{resource.Type}}</td>
                            <!--<td> {{resource.IssuedFrom}}</td>-->
                            <td> {{resource.EmployeeID}} </td>
                            <td> {{resource.Serial}} </td>
                           
                            <td ng-show="resource.Deleted == 0">
                                <button class="btn btn-info" ng-click="editRow(resource)">  Edit   </button>
                            </td>
                            <td ng-show="resource.Deleted == 0 && resource.Picture != null"> <button class="btn btn-info" ng-click="showImage(resource.Serial)"> Show Image </button></td>
                            <td ng-show="resource.EmployeeID == 0 || resource.EmployeeID == null && resource.Deleted == 0"><button class="btn btn-info" ng-click="allocate(resource.Serial)"> Allocate </button></td>
                            <td ng-show="resource.EmployeeID != null && resource.EmployeeID != 0 && resource.Deleted == 0"><button class="btn btn-info" ng-click="deallocate(resource.Serial)"> Deallocate</button></td>
                            <td ng-show="resource.Deleted == 0"><button class="btn btn-danger" ng-click="remove(resource)"> &times; </button></td>
                            <td ng-show="resource.Deleted == 1"><button class="btn btn-success" ng-click="restore(resource.Serial,resource.CompanyID)"> Restore </button></td>
                            
                        </tr>
                    </tbody>
                    
                </table>

                
                <!--<div data-ng-hide="status == ''" class="alert alert-danger">
                    {{status}}
                </div>-->
                <form method="get" action="http://localhost:58474/Downloads/Resource.csv">
                    <center> <button class="btn btn-line-success" type="submit">Download CSV</button></center>
                </form>

                <!--<a href="http://localhost:58474/Downloads/Resource.csv" download><h4 style="text-align:center"> Download CSV </h4> </a>-->
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="deleteModal.html">
    <div class="modal-body">
        <h3 class="modal-title">Are you sure you want to delete the resource?</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Yes</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="imageModal.html">
    <div class="modal-header">
        <p style="float:right"><button class="btn btn-info" ng-click="close()"> &times; </button> </p>
    </div>
    <div class="modal-body">
        <div ng-repeat="image in imageList">
            <img ng-src="http://localhost:58474/images/{{source}}/{{image.name}}" width="250" height="400" />

        </div>
    </div>
        
</script>

<script type="text/ng-template" id="allocate.html">
    <div class="modal-body">
        <h3 class="modal-title">Employee List</h3>
        <div class="form-group">
            <span class="ui-select">
                <select ng-model="EmployeeID">
                    <option value="">Select Employee ID</option>
                    <option ng-repeat="list in employeeList" ng-if="list.UserName != null" value="{{list.UserName}}">{{list.UserName}}</option>
                </select>
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Allocate</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

