
<div class="container">
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="query" placeholder="Search" autofocus />
        </div>
    </form>
</div>
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th width="100">
                            #
                        </th>
                        <th width="100">
                            Name Of Device
                        </th>
                        <th width="200">
                            Type
                        </th>
                        <!--<th width="200">
                            Issued To
                        </th>-->

                        <th width="200">
                            Issued on
                        </th>

                        <!--<th width="200">
                            Employee ID
                        </th>-->

                        <!--<th width="200">
                            Modified On
                        </th>
                        <th width="200" s>
                            Is Active
                        </th>-->

                    </tr>
                    <tbody>
                        <tr ng-repeat="resource in resourceList | filter:query | orderBy: 'NameOfDevice'">
                            <td> {{$index + 1}}</td>
                            <td> {{resource.NameOfDevice}}</td>
                            <td> {{resource.Type}}</td>
                            <!--<td> {{resource.IssuedTo}}</td>-->
                            <td> {{resource.IssuedTo}}</td>
                            
                            <!--<td>
                                <a href=" #/edit" ng-click="editRow(resource)"> <pre> Edit  </pre> </a>
                            </td>
                            <td><button ng-click="remove(resource.CompanyName,resource.NameOfDevice,resource.Type)">Delete</</button></td>-->
                        </tr>
                    </tbody>

                </table>

                <!--<h2> <b> {{status}} </b></h2>-->
            </div>
        </div>
    </div>
</div>


