<div ng-show="manager" class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container">
                    <table class="table table-bordered table-hover">
                        <tr style="color:black">
                            <th>
                                Employee ID
                            </th>
                            <th>
                                Employee Name
                            </th>

                        </tr>
                        <tbody>
                            <tr ng-repeat="employees in managerEmployees">
                                <td> {{employees.EmployeeID}} </td>
                                <td> {{employees.EmployeeName}} </td>
                                <td> <button class="btn btn-info btn-group-justified" ng-click="assign(employees.EmployeeID,employees.EmployeeName)"> Assign Task </button></td>
                            </tr>
                        </tbody>
                    </table> 
                    
                </div>
                <h2 ng-hide="task.EmployeeID"> <b> {{status}} </b></h2>
            </div>
        </div>
    </div>
    <div>
        <h3 style="text-align:center"> Task Assigned : </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <table class="table table-bordered  table-hover">
                        <tr style="color:black">

                            <th width="100">
                                Employee ID
                            </th>
                            <th width="200">
                                Employee Name
                            </th>
                            <th width="200">
                                Description
                            </th>
                            <th width="200">
                                Status
                            </th>
                            <th width="200">
                                Approval
                            </th>

                        </tr>
                        <tbody>
                            <tr ng-repeat="tasks in taskAssign">

                                <td> {{tasks.EmployeeID}} </td>
                                <td> {{tasks.EmployeeName}} </td>
                                <td> {{tasks.Description}} </td>
                                <td> {{tasks.EmployeeConfirm}} </td>
                                <td> {{tasks.ManagerConfirm}} </td>
                                <td>
                                    <div class="btn-default-light">
                                        <button class="btn btn-info" ng-click="approved(tasks.EmployeeID,tasks.Description)"> Approve </button>
                                        <button class="btn btn-info" ng-click="decline(tasks.EmployeeID,tasks.Description)"> Decline </button>
                                    </div>
                                </td>
                                <td> <button class="btn btn-danger" ng-click="deleteTask(tasks.EmployeeID,tasks.Description)"> &times;  </button></td>
                            </tr>
                        </tbody>

                    </table>
                    <!--<h4> {{approval}} </h4>-->

                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="employee">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <table class="table table-bordered  table-hover">
                    <tr style="color:black">

                        <th width="100">
                            Employee ID
                        </th>
                        <th width="200">
                            Employee Name
                        </th>
                        <th width="200">
                            Description
                        </th>
                        <th width="200">
                            Assigned By
                        </th>
                        <th width="200">
                            Status
                        </th>
                        <th width="200">
                            Approval
                        </th>

                        <th width="400">

                        </th>

                    </tr>
                    <tbody>
                        <tr ng-repeat="task in taskList">

                            <td> {{task.EmployeeID}} </td>
                            <td> {{task.EmployeeName}} </td>
                            <td> {{task.Description}} </td>
                            <td> {{task.AssignedBy}} </td>
                            <td> {{task.EmployeeConfirm}} </td>
                            <td> {{task.ManagerConfirm}} </td>
                            <td ng-hide="task.EmployeeConfirm == 'Completed' && task.ManagerConfirm == 'Approved'">
                               <input type="radio" class="radio-inline" ng-click="completed(task.EmployeeID,task.Description,task.AssignedBy,task.EmployeeConfirm)" name="{{task.Description}}" value="Completed"  /> &nbsp; &nbsp; Completed
                                    <br />
                                <br />
                               <input type="radio" class="radio-inline" ng-click="pending(task.EmployeeID,task.Description,task.AssignedBy,task.EmployeeConfirm)" name="{{task.Description}}" value="Pending" /> &nbsp; &nbsp; Pending
                                    
                                    
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span><button class="btn btn-info" ng-click="update()"> Update </button></span>
                <!--<div data-ng-hide="stat == ''" class="alert alert-danger">
                    {{stat}}
                </div>-->
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="deleteModal.html">
    <div class="modal-body">
        <h3 class="modal-title">Are you sure you want to delete the task?</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Yes</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="pending.html">
    <div class="modal-body">
        <h3 class="modal-title">Status is still pending</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">OK</button>

    </div>
</script>