<div class="page page-dashboard">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <form role="form">
                        <div class="form-group">
                            <label> Company's Name </label>
                            <input type="text" class="form-control" ng-model="companyData.CompanyName" placeholder="Company name" name="Cname" disabled/>
                            <label> Owner's Name  </label>
                            <input type="text" class="form-control" placeholder="Owner name" ng-model="companyData.OwnerName" name="Oname" disabled/>
                            <label> No. of Resources </label>
                            <input type="text"  class="form-control" placeholder="Resources no." ng-model="companyData.ResourceCount" name="resources" />  
                            <a href="#/addResources" ng-click="addResource(companyData.CompanyName)"> Add Resources </a> <br /> <br />
                            <label> Address </label>
                            <input type="text" class="form-control" placeholder="Address" ng-model="companyData.Address" name="address" />
                            <label> Contact No. </label>
                            <input type="text" class="form-control" placeholder="Contact no." ng-model="companyData.Contact" name="contact" />
                            <label> Email </label>
                            <input type="text" class="form-control" placeholder="Email" ng-model="companyData.Email" name="email" />
                            <br />
                            <button ng-click="update()">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <h2> <b> {{status}} </b></h2>
        </div>
    </div>
</div>
